<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%X{X-REQUEST-ID}] %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="no.obos" level="DEBUG"/>
    <logger name="no.obos.sms.faktura" level="TRACE"/>
    <logger name="org.eclipse" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
