.idea/**
.externalToolBuilders/**
out/**
target/**
lucene/**
bin/**
log4j.xml
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.checkstyle
*.ser
.umlproject
.compatibility
.classpath
.project
.settings
.attach_pid*
apache-tomcat-*
nb-configuration.xml
test.db
/lucene
/target
/forkjopsMeldinger
/whitespaceIndexDir
/activemq-data
/.externalToolBuilders
/blablabla
/ehcache_stored
/forkjoepsmeldinger
/.camel
/.~lock.rapport.csv#
/backupKatalogForForkjoepsmeldinger
/logs
/logs/
/dependency-reduced-pom.xml
/nbactions.xml
/rapporter
/nbactions-boligmarked_backend-test.xml
/data
/temporary
/**/target
/bin/
/target/
/.idea/
/atlassian-ide-plugin.xml
